/******************************General  Body********************************/
* {
    font-family: 'Raleway', sans-serif; 
}
body{
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
:root {
    --main-color: #6a6a6a;
    --icon-color:#0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-solid {
    color: var(--icon-color);
}
a {
    color: inherit;
    text-decoration: none;
}
p{
    font-size: 14px;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 17px;
}
h3{
    font-size: 16px;
}
ul li {
    list-style-type: none;
}
/******************************************Header ************************/
/***Global***/

header{
    display:flex ;
    justify-content: space-between;
    text-align: center;
}
.main-container {
    padding: 0 50px;
    box-sizing: border-box;
}
/***logo***/

.maint-logo{
    padding: 30px 50px;
}
.maint-logo img{
    width: 61px;
    height: 19px; 
}
/***nav***/ 
nav {
    width: 320px;
    height: 35px;
    margin: 20px;
}
.nav ul{
    cursor: pointer;
    color: var(--icon-color);
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.nav ul li{
    margin-right: 20px;
    display: inline;
}
.nav ul li :hover{
    border-top: 3px solid var(--icon-color);
    transition: 0.1s;
}
/****** *****************************info-group*********************** ***********/
/***Global***/
.info-group{
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    margin-bottom: 30px;
}
/***search Bar***/

.form{
    height: 50px;
    display: flex;
    text-align: center;
}
.form .label{
    width: 50px;
    line-height: 50px;
    border-radius: 15px 0 0 15px;
    background-color:var(--main-bg-color);    
}
.form .label i{
    font-size: 25px; 
}
textarea{
    border: 2px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
}
.button{
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: var(--icon-color);
    padding:  16px 15px  16px ;
    font-size: 18px;
    font-weight: 700;
    color: #DEEBFF;   
}
/***Filter Bar***/
.filter-bar-global{
    display: flex;
}
.filter-bar-global .title-filter h2{
    margin: 0 20px;
}
.filter-bar .title-filter{
    display: inline;
    margin-right: 20px;
}
.icon-button{
    width: 80px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding:10px 25px;
    cursor: default;
    font-size: 16px;
    font-weight: 700;
}
.filter-bar a:hover{
    background-color: #DEEBFF;
}
.filter-bar  i{
    color:  #0065FC;
    margin-right: 5px;
    
}
/***info Bar***/

.info-bar i,p{
    display: inline;
    justify-content: space-between;   
}
/****************************section *************************/

/****** Hebergements And Populaires ***********/
.card{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
}
.hebergements-and-populaires{
    display: flex;
    justify-content: space-between;
}
/****** Hebergements  ***********/

.hebergements , .populaires{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.hebergements{
    width: 65%;   
}
.card-flex-hebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 30px;
}
 .hebergements .card {
    width: 30%;
    height: 207px;
    margin-bottom: 50px;  
    padding: 5px 5px 30px ; 
    background-color: white;
    border-radius: 15px ;    
}
.hebergements .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.2s;
}
.hebergements img{
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.populaires-title i{
    margin: auto 0;
}
.card-content{
  margin-left: 20px;
}
/****** Populaires ***********/

.populaires{
    display: flex; 
    flex-direction: column;
    width: 33%;
}
/* .populaires-cards {
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px ;
} */
.populaires-cards .card {
    background-color: white;
    padding: 5px 10px 5px 5px;
    border-radius: 15px;
    margin-top: 33px;
}
.populaires-cards .card a{
    display: flex;
}
.populaires-cards img{
    width: 33%;

    border-radius:15px 0 0 15px;
    margin-right: 20px;
    object-fit: cover;
}
.populaires-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.populaires .card-content{
    width: 67%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
}
.populaires .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.2s;
}
.populaires .card-rating{
    margin-top: 40px;
}


/****** Activites ***********/

.activities{
    height: 600px;
    margin-top: 100px;
}
.card-flex-activities{
    display: flex;
    justify-content: space-between;
}
.activities .card{
    width: 22%;
    border-radius: 15px;
}
.activities .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.2s;
}
.activities img{
    width: 100%;
    height:439px ;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}
.footer-link{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 30px;
    height:250px;
    border-radius: 15px;
}
.footer-link ul li{
 margin-bottom: 10px;
}

/* **************responsive *****************/
/* ********tablettes */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

